# Local .terraform directories
**/.terraform/*

# .tfstate files (CRITICAL to ignore)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore lock file if you don't want to track provider versions strictly
.terraform.lock.hcl